*{
    box-sizing: border-box;
}

html{
    font-family: "Barlow Semi Condensed", sans-serif;
}

body{
    background-color: var(--OffBlack);
}

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}
.content{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:center ;
    width: 300px;
    margin: 100px auto;
    background-color: var(--DarkGrey);
    color: var(--White);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img{
    width: 60px;
    margin-left: 40%;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

.name, .location{
    margin: 0;
}

.name{
    font-size: 1.5rem;
}

.location{
    color: var(--Green);
}

.profession{
    font-size: .8rem;
    opacity: 70%;
}

a{
    width: 100%;
    text-decoration: none;
    color: var(--White);
    padding: 10px;
    background-color: var(--Grey);
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: .8rem;
}

a:hover{
    background-color: var(--Green);
    color: var(--OffBlack);
}